@use "../../styles/variables";

.profile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  .infor {
    background-image: url("../../assets/images/profile-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 30px variables.$global-padding;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: variables.$bx-accent;
    block-size: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    > svg {
      margin-block-end: 12px;
    }

    h1 {
      margin-block-end: 10px;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    padding: 0 variables.$global-padding;

    .image_block {
      flex-grow: 2;
      flex-basis: 200px;
      block-size: 335px;
      display: flex;
      flex-direction: column;
      align-items: center;

      > p {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        margin-block-end: 10px;
      }

      .before_image {
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
      }

      .after_image {
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
      }
    }
  }
}
