$accent: #b53471;
$white: #8b8b8b;
$brown: #310c24;
$black: #1a0612;
$light-brown: #511734;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: "Arial";

$mobile: 480px;

$global-padding: 25px;

$nav_link-size: 26px;

$table-size: 26px;
$table_head-weight: 400;
$table_head-color: #8A7474;
$table_cell-weight: 700;