@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-accent: #b53471;
  --color-white: #fff;
  --color-gray: #8b8b8b;
  --color-brown: #310c24;
  --color-black: #000;
  --color-dark-brown: #1a0612;
  --color-light-brown: #511734;
  --color-error: #e53e3e;
  --color-error-outline: #b80000;
  --color-button: #f1e8e8;
  --color-button-bg: rgba(255, 255, 255, 0.2);
  --color-table-head: #8a7474;

  --shadow-accent: 0 4px 4px rgba($accent, 0.25);
  --shadow-bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

  --font-arial: "Arial";

  --text-nav-link: 26px;
  --text-table: 26px;

  --font-weight-table-cell: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

html,
body {
  block-size: 100vh;
}

body {
  background-color: #1a0612;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 18px;
  min-inline-size: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Arial";
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
  height: 100%;
}
