@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-accent: #b53471;
  --color-white: #fff;
  --color-gray: #8b8b8b;
  --color-brown: #310c24;
  --color-black: #000;
  --color-dark-brown: #1a0612;
  --color-light-brown: #511734;
  --color-error: #e53e3e;
  --color-error-outline: #b80000;
  --color-button: #f1e8e8;
  --color-button-bg: rgba(255, 255, 255, 0.2);
  --color-table-head: #8a7474;

  --shadow-accent: 0 4px 4px rgba($accent, 0.25);
  --shadow-bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

  --font-arial: "Arial";

  --text-nav-link: 26px;
  --text-table: 26px;

  --font-weight-table-cell: 700;

  --animate-translate: translate 0.3s ease-in-out;
}

@keyframes translate {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
