@use "../../styles/variables";

.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../assets/images/home-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 35px variables.$global-padding;
}
