@use "../../../styles/variables";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px variables.$global-padding;

  > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
