.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px 0;

  > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}