@use "../../../styles/variables";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px variables.$global-padding;
  position: fixed;
  inset-block-start: 0;
  inline-size: 100%;
  background: transparent;
  z-index: 1000;

  > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
