@use "../../../styles/variables";

.input {
  inline-size: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  max-block-size: 50px;
  block-size: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: variables.$light-brown;
  padding: 10px 20px;

  &:focus {
    outline: 1px solid variables.$accent;
  }

  &.error {
    background-color: #e53e3e;
    outline: 1px solid #b80000;
  }
}
