@use "../../../styles/variables";

.register {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  .title_block {
    background:
      linear-gradient(to top, variables.$light-brown, transparent),
      url("../../../assets/images/auth.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 10px variables.$global-padding;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: variables.$bx-accent;
    block-size: 45%;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
  }

  .inputs_block {
    inline-size: 100%;
    padding: 50px variables.$global-padding;
    text-align: center;

    .input_block {
      display: flex;
      flex-direction: column;
      gap: 7px;
      inline-size: 100%;

      .error {
        font-size: 14px;
        font-weight: 400;
        color: #e53e3e;
        align-self: flex-end;
      }
    }

    form {
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-block-end: 20px;
    }

    a {
      text-decoration: none;
      color: variables.$white;
      font-size: 16px;
      font-weight: 400;
      transition: color 0.3s ease;

      &:hover,
      &:focus-visible {
        color: #fff;
      }
    }
  }
}
