$accent: #b53471;
$white: #f1e8e8;
$brown: #310c24;
$black: #1a0612;
$light-brown: #511734;

$bx-accent: 0 4px 4px rgba($accent, .25);
$bx-16: 0 3px 6px rgba(0, 0, 0, .16);

$default-font: 'Roboto';

$mobile: 480px;